body {
  border: rgb(9, 255, 9) solid;
  margin: 0;
  padding: 0;
  height: 500px;
}

.main {
  background-color: darkgreen;
  height: 100%;
}

.upperGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border: white solid 3px;
}

.lowerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  border: black solid 3px;
}

.playerCards {
  border: red solid;
  color: white;
}

.dealerCards {
  border: green solid;
  color: white;
}

.dealCardsButton,
.hitButton,
.standButton {
  border-radius: 75px;
  background-color: rgb(134, 14, 118);
  margin: 4%;
  color: white;
}

.cardBack {
  position: relative;
  left: 0px;
  transition: all 0.5s ease-in-out;
}

.cardBack:hover {
  left: 100px;
}

@keyframes drawCard {
}
