body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  background-color: darkgreen;
  height: 100%;
}

.upperGrid {
  display: grid;
  padding: 2%;
  height: 30%;
  grid-template-columns: 1fr 2fr 2fr;
}

.lowerGrid {
  display: grid;
  height: 40%;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
}

.playerHand {
  color: white;
}

.dealerHand {
  color: white;
}

.dealCardsButton,
.hitButton,
.standButton {
  border-radius: 75px;
  background-color: rgb(134, 14, 118);
  margin: 4%;
  color: white;
  font-size: large;
}

.cardBack {
  margin-top: 10%;
  margin-left: 20%;
}

.endScreen {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  
  top: 25%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.61);
}

.endText {
  color: white;
  margin-right: 10%;
}

.endHelpText {
  color: white;
}